// Color value
$primary-color: rgb(15, 108, 189);
$secondary-color:  rgb(207, 228, 250);
$text-primary: white;
$text-secondary: black;
$background-color: rgb(245, 245, 245);
$active-color: rgb(220, 220, 220);
$shadow-color: rgb(235, 235, 235);

// App
.header {
  background-color: $primary-color;
  padding: 5px 5px 5px 20px;
  display: flex;
  align-items: center;
  h2 {
    color: $text-primary;
    font-size: 20px;
  }
  input {
    margin-left: 20px;
    font-size: 20px;
    &:focus {
      outline: none;
    }
  }
}

.navigation {
  width: 180px;
}

.main {
  display: flex;
  height: 100vh;
  background-color: $background-color;
}

// Error
.error {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

//Dropdown
@mixin dropdown {
  margin: 10px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
}

.dropdown {
  padding: 10px 10px 0px 10px;
  display: flex;
  align-items: flex-start;
  h2 {
    margin-top: 5px;
    font-size: 20px;
    transition: all 0.3s;
  }
  button {
    @include dropdown;
  }
}

.none {
  display: none;
}

.dropdown-item {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
}

.spin {
transform: rotate(90deg) translateX(3px);
}

//NavLink
@mixin link {
  font-size: 20px;
  padding: 7px 0px 7px 20px;
  text-decoration: none;
  color: $text-secondary;
}

.link {
  @include link;
  font-weight: normal;
}

.link-active {
  @include link;
  font-weight: bold;
  background-color: $secondary-color;
  border-radius: 5px;
  &:hover {
    background-color: $active-color;
  }
}

//Mailbox
@mixin shadow {
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px $shadow-color;
}

.mailbox {
  margin: 10px;
  width: 300px;
  @include shadow;
}

.title {
  background-color: $text-primary;
  @include shadow;
  h2 {
    padding: 10px;
    font-size: 20px;
    margin: 0;
  }
}